<div class="container" style="width:200px;">
    <div class="row well">
        <img src="../../images/defaultAvatar.png" width="60px" style="margin-left:50px">
        <form [formGroup]="formLogin" (ngSubmit)="seConnecter()" class="form-group" novalidate>
            <input id="email" [formControl]="email" class="form-control" type="email" placeholder="email@email.com">
            <br>
            <input id="password" [formControl]="password" class="form-control" type="password" placeholder="********">
            <br>
            <button class="btn btn-success" type="submit" (click)="seConnecter()">Se connecter</button>
        </form>

        <div *ngIf="submitted">
            <div [hidden]="!email.hasError('emailverification')">email incorrect</div>
            <div [hidden]="!password.hasError('passwordverification')">password incorrect</div>
        </div>
    </div>
</div>